@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");
:root {
  line-height: 1.15;
  font-size: 62.5%;
  --dynamic-black: #1e1e1e;
  --pimm: #c45c5d;
  --chrome-aluminum: #a6a8ab;
  --black-oak: #4e4e4e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  z-index: 6;
}
@media screen and (min-width: 1023px) {
  header {
    background-color: transparent;
    height: 9.5rem;
    top: 0;
    left: 0;
  }
}
header .logo {
  display: flex;
  cursor: pointer;
  text-decoration: none;
  padding-left: 1rem;
  align-self: center;
}
@media screen and (min-width: 1023px) {
  header .logo {
    display: none;
  }
}
header .logo img {
  width: 5rem;
  align-self: center;
}
header .logo span {
  display: block;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  color: var(--dynamic-black);
  align-self: center;
}
header #menu {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.5s;
}
header #menu:checked + label div {
  transform: rotate(45deg);
}
header #menu:checked + label + .navigation-links {
  opacity: 1;
  transition: opacity 0.5s;
}
header #menu:checked + label div:before {
  transform: rotate(-90deg) translate(-0.6rem);
}
header #menu:checked + label div::after {
  display: none;
}
header .hamburger-menu {
  text-align: right;
  align-self: center;
  width: auto;
  margin-left: auto;
  padding-right: 2rem;
  position: relative;
  z-index: 5;
  top: -0.2rem;
}
@media screen and (min-width: 1023px) {
  header .hamburger-menu {
    display: none;
  }
}
header .hamburger-menu div {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 2.2rem;
  height: 0.2rem;
  background-color: var(--black-oak);
  border-radius: 0.5rem;
  overflow: visible;
  transition: transform 0.3s;
}
header .hamburger-menu div::before {
  content: "";
  position: absolute;
  top: -0.6rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  transition: transform 0.3s;
}
header .hamburger-menu div::after {
  content: "";
  position: absolute;
  top: 0.6rem;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: inherit;
}
header .navigation-links {
  width: 100%;
  overflow: hidden;
  position: absolute;
  left: 0rem;
  top: 0rem;
  background-color: white;
  opacity: 0;
  padding-top: 10vh;
  display: block;
  transition: opacity 0.3s;
  pointer-events: none;
  overflow: hidden;
}
@media screen and (min-width: 1023px) {
  header .navigation-links {
    display: flex;
    width: 40%;
    margin-left: auto;
    margin-right: 20px;
    opacity: 1;
    background-color: transparent;
    position: static;
    overflow: visible;
    padding-top: 0;
  }
}
header .navigation-links a {
  display: block;
  text-decoration: none;
  color: var(--dynamic-black);
  width: 80%;
  padding: 1.5rem 0;
  font-size: 1.3rem;
  margin: 0 auto;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
header .navigation-links a:nth-child(1) {
  color: #c45c5d;
}

.upfold {
  background-image: url("https://mini.webtrigon.com/static-v1.1.0/home/images/animation-components/upfold-bg-1.png");
  height: auto;
  background-size: cover;
  background-position: top;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 1023px) {
  .upfold {
    width: 65%;
    height: 100vh;
    margin-left: 35%;
  }
}
.upfold h1 {
  color: var(--chrome-aluminum);
  text-align: center;
  width: 70%;
  margin: 0 auto;
  line-height: 1.5;
  padding-top: 15vh;
  padding-bottom: 7vh;
  font-size: 2.2rem;
}
@media screen and (min-width: 1023px) {
  .upfold h1 {
    display: none;
  }
}
.upfold h1 span {
  color: var(--pimm);
  font-size: 2.2rem;
}
.upfold .upfold-image {
  height: 40vh;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 1023px) {
  .upfold .upfold-image {
    height: 80vh;
  }
}
.upfold .upfold-image img:nth-child(1) {
  position: absolute;
  width: 100%;
  z-index: 2;
  bottom: 15%;
}
@media screen and (min-width: 1023px) {
  .upfold .upfold-image img:nth-child(1) {
    width: 100%;
  }
}
.upfold .upfold-image img:nth-child(2) {
  position: absolute;
  bottom: 18%;
  width: 100%;
  z-index: 3;
}
@media screen and (min-width: 1023px) {
  .upfold .upfold-image img:nth-child(2) {
    width: 100%;
  }
}
.upfold .upfold-image img:nth-child(3) {
  position: absolute;
  width: 100%;
  bottom: 0%;
  z-index: 4;
}
@media screen and (min-width: 1023px) {
  .upfold .upfold-image img:nth-child(3) {
    width: 100%;
  }
}
.upfold .upfold-image .grass {
  position: absolute;
  z-index: 4;
  bottom: 12%;
  height: auto;
  width: 100%;
}
@media screen and (min-width: 1023px) {
  .upfold .upfold-image .grass {
    width: 100%;
  }
}
.upfold .upfold-image .shops {
  position: absolute;
  bottom: 12%;
  z-index: 5;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1023px) {
  .upfold .upfold-image .shops {
    width: 100%;
  }
}
.upfold .upfold-image .lamp {
  position: absolute;
  width: 90%;
  bottom: 12%;
  z-index: 5;
}
@media screen and (min-width: 1023px) {
  .upfold .upfold-image .lamp {
    width: 100%;
  }
}
.upfold section {
  width: 88%;
  height: 6rem;
  margin: 9vh auto;
  border: 0.7rem solid #e5e5e7;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  display: flex;
}
@media screen and (min-width: 1023px) {
  .upfold section {
    width: 60%;
    height: 6.8rem;
    border-width: 1rem;
    margin-top: 2.5%;
  }
}
.upfold section input {
  width: 88%;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  padding-left: 2rem;
  border: 0;
  color: var(--chrome-aluminum);
  background-color: transparent;
}
@media screen and (min-width: 1023px) {
  .upfold section input {
    font-size: 1.4rem;
  }
}
.upfold section div {
  background-color: var(--pimm);
  width: 14%;
  display: flex;
}
.upfold section div img {
  width: 1.5rem;
  height: 100%;
  margin: 0 auto;
}

.templates {
  background-color: var(--dynamic-black);
  background-image: url("https://mini.webtrigon.com/static-v1.1.0/home/images/png/pattern.png");
  background-position: center;
  color: var(--chrome-aluminum);
  font-size: 1.6rem;
  text-align: center;
}
@media screen and (min-width: 1023px) {
  .templates {
    width: 35%;
    height: 100vh;
    position: absolute;
    top: 0;
  }
}
.templates div {
  display: none;
}
@media screen and (min-width: 1023px) {
  .templates div {
    display: block;
    margin: 20% auto;
    width: 80%;
    text-align: left;
    display: flex;
  }
}
.templates div img {
  display: none;
}
@media screen and (min-width: 1023px) {
  .templates div img {
    display: inline;
    width: 9rem;
  }
}
.templates div img + div {
  display: none;
}
@media screen and (min-width: 1023px) {
  .templates div img + div {
    display: inline;
    letter-spacing: 0.1rem;
    font-size: 3rem;
    color: white;
    margin: 0;
    align-self: center;
  }
}
.templates h2 {
  display: none;
}
@media screen and (min-width: 1023px) {
  .templates h2 {
    display: block;
    color: white;
    font-size: 2.5rem;
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
    text-align: left;
  }
}
.templates p {
  padding: 3rem 0;
  width: 80%;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 1.6rem;
}
@media screen and (min-width: 1023px) {
  .templates p {
    width: 80%;
    text-align: left;
  }
}
.templates p + div {
  padding-bottom: 2.5rem;
  font-size: 1.6rem;
}
@media screen and (min-width: 1023px) {
  .templates p + div {
    text-align: left;
    margin: 0 auto;
    width: 80%;
    font-size: 1.8rem;
  }
}
.templates button {
  padding: 2rem 0 5rem 0;
  border: none;
  background: transparent;
}
@media screen and (min-width: 1023px) {
  .templates button {
    width: 80%;
    text-align: left;
    margin: 2rem auto;
  }
}
.templates button a {
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
  padding: 1.3rem 1.8rem;
  background-color: var(--pimm);
  border-radius: 4rem;
}

.steps h3 {
  font-size: 2.5rem;
  text-align: center;
  color: #1b1d1e;
  padding: 4rem 0;
  font-weight: 500;
}
@media screen and (min-width: 1023px) {
  .steps h3 {
    font-size: 4.5rem;
  }
}
.steps h3 span {
  color: var(--pimm);
  font-size: 2.5rem;
}
@media screen and (min-width: 1023px) {
  .steps h3 span {
    font-size: 4.5rem;
  }
}
.steps .step-1 {
  position: relative;
  height: 120vh;
  overflow: hidden;
  margin-bottom: 5rem;
}
@media screen and (min-width: 1023px) {
  .steps .step-1 {
    display: flex;
    margin: 0 auto;
    height: 100vh;
    background-image: url("https://mini.webtrigon.com/static-v1.1.0/home/images/png/background-1.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.steps .step-1 h4 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}
@media screen and (min-width: 1023px) {
  .steps .step-1 h4 {
    display: none;
  }
}
.steps .step-1 div {
  position: relative;
  height: 120vh;
  overflow: hidden;
}
@media screen and (min-width: 1023px) {
  .steps .step-1 div {
    width: 50%;
    height: 80vh;
    overflow: visible;
    align-self: center;
    margin-left: 5%;
  }
}
.steps .step-1 div .icon {
  width: 6rem;
  height: 6rem;
  box-shadow: 0rem 0rem 4.5rem 0rem #9f9fa0;
  border-radius: 50%;
  display: flex;
  position: absolute;
  opacity: 0;
}
@media screen and (min-width: 1023px) {
  .steps .step-1 div .icon {
    width: 7rem;
    height: 7rem;
  }
}
.steps .step-1 div .tablet-icon {
  transform: translate(52vw, 7vh);
}
@media screen and (min-width: 1023px) {
  .steps .step-1 div .tablet-icon {
    transform: translate(22vw, -3vh) scale(1);
  }
}
.steps .step-1 div .tablet-icon img {
  width: 40%;
  margin: 0 auto;
  align-self: center;
}
.steps .step-1 div .laptop-icon {
  transform: translate(78vw, 30vh);
}
@media screen and (min-width: 1023px) {
  .steps .step-1 div .laptop-icon {
    transform: translate(42vw, 21vh) scale(1);
  }
}
.steps .step-1 div .laptop-icon img {
  align-self: center;
  margin: 0 auto;
  width: 45%;
}
.steps .step-1 div .mobile-icon {
  transform: translate(5vw, 62vh);
}
@media screen and (min-width: 1023px) {
  .steps .step-1 div .mobile-icon {
    transform: translate(0vw, 60vh) scale(1);
  }
}
.steps .step-1 div .mobile-icon img {
  align-self: center;
  margin: 0 auto;
  width: 40%;
}
.steps .step-1 div .desktop-icon {
  transform: translate(30vw, 82vh);
}
@media screen and (min-width: 1023px) {
  .steps .step-1 div .desktop-icon {
    transform: translate(22vw, 77vh) scale(1);
  }
}
.steps .step-1 div .desktop-icon img {
  width: 60%;
  align-self: center;
  margin: 0 auto;
}
.steps .step-1 div .laptop-icon + figure {
  position: absolute;
  z-index: 1;
  width: 50%;
  height: 46%;
  transform: translate(5%, 10%) scale(0.8);
  opacity: 0;
  overflow: hidden;
}
@media screen and (min-width: 1023px) {
  .steps .step-1 div .laptop-icon + figure {
    width: 40%;
    height: 70vh;
    transform: translate(5%, -15%) scale(0.7);
    box-shadow: 10px 7px 25px 3px #9f9fa0;
  }
}
.steps .step-1 div .laptop-icon + figure img {
  width: 100%;
}
.steps .step-1 div .laptop-icon + figure + figure {
  position: absolute;
  z-index: 2;
  width: 50%;
  height: 46%;
  transform: translate(50%, 40%) scale(0.8);
  overflow: hidden;
}
@media screen and (min-width: 1023px) {
  .steps .step-1 div .laptop-icon + figure + figure {
    width: 45%;
    height: 80vh;
    transform: translate(50%, 5%) scale(0.7);
    box-shadow: 10px 7px 25px 3px #9f9fa0;
  }
}
.steps .step-1 div .laptop-icon + figure + figure img {
  width: 100%;
}
.steps .step-1 div .laptop-icon + figure + figure + figure {
  position: absolute;
  z-index: 1;
  width: 50%;
  height: 46%;
  transform: translate(95%, 75%) scale(0.8);
  opacity: 0;
  overflow: hidden;
}
@media screen and (min-width: 1023px) {
  .steps .step-1 div .laptop-icon + figure + figure + figure {
    width: 40%;
    height: 65vh;
    transform: translate(135%, 40%) scale(0.7);
    box-shadow: 10px 7px 25px 3px #9f9fa0;
  }
}
.steps .step-1 div .laptop-icon + figure + figure + figure img {
  width: 100%;
}
.steps .step-1 div .tick-icon {
  position: absolute;
  width: 4.5rem;
  left: 43vw;
  top: 28vh;
  z-index: 2;
  opacity: 0;
}
@media screen and (min-width: 1023px) {
  .steps .step-1 div .tick-icon {
    left: 21vh;
    top: 12vh;
  }
}
.steps .step-1 div .tick-icon img {
  width: 100%;
}
.steps .step-1 div .icon.fade-in {
  transition: opacity 0.5s;
  opacity: 1;
}
.steps .step-1 div .card.fade-in {
  transition: opacity 0.5s;
  opacity: 1;
}
.steps .step-1 ul {
  width: 80%;
  margin: 0 auto;
  margin-top: -20vh;
  list-style: none;
}
@media screen and (min-width: 1023px) {
  .steps .step-1 ul {
    width: 43%;
    align-self: center;
    margin-top: 0;
  }
}
.steps .step-1 ul h4 {
  display: none;
}
@media screen and (min-width: 1023px) {
  .steps .step-1 ul h4 {
    display: block;
    font-size: 2.6rem;
    color: var(--black-oak);
    text-align: left;
  }
}
.steps .step-1 ul li {
  font-size: 1.6rem;
  padding-left: 2rem;
  line-height: 1.5;
  color: #9f9fa0;
  position: relative;
}
@media screen and (min-width: 1023px) {
  .steps .step-1 ul li {
    width: 90%;
    width: 90%;
    margin: 0 auto;
    font-size: 1.8rem;
    margin-top: 2.5rem;
    padding-left: 2.5rem;
  }
}
.steps .step-1 ul li::before {
  content: "";
  height: 1.2rem;
  width: 1.2rem;
  position: absolute;
  background-color: var(--pimm);
  border-radius: 50%;
  right: 30rem;
  bottom: 5.2rem;
}
@media screen and (min-width: 1023px) {
  .steps .step-1 ul li::before {
    left: -0.5rem;
    top: 1rem;
  }
}
.steps .step-2 {
  margin-bottom: 5rem;
}
.steps .step-2 h4 {
  width: 90%;
  margin: 0 auto;
  font-size: 2rem;
}
.steps .step-2 div {
  position: relative;
  height: 94vh;
}
.steps .step-2 div figure:nth-child(1) {
  position: absolute;
  width: 50%;
  height: 65vh;
  transform: translate(5%, 15%) scale(0.8);
  overflow: hidden;
  opacity: 0;
}
.steps .step-2 div figure:nth-child(1) img {
  width: 100%;
}
.steps .step-2 div figure:nth-child(2) {
  position: absolute;
  width: 16rem;
  transform: translate(48vw, 22vh) scale(0.8);
  opacity: 0;
}
.steps .step-2 div figure:nth-child(2) img {
  width: 16rem;
}
.steps .step-2 div figure:nth-child(3) {
  position: absolute;
  width: 50%;
  height: 65vh;
  transform: translate(100%, 57%);
  opacity: 0;
}
.steps .step-2 div figure:nth-child(3) img {
  width: 100%;
}
.steps .step-2 div img:nth-child(4) {
  position: absolute;
  width: 4.5rem;
  left: 21vw;
  top: 12vh;
}
.steps .step-2 div .card.fade-in {
  transition: opacity 0.5s;
  opacity: 1;
}
.steps .step-2 ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.steps .step-2 ul li {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: #9f9fa0;
  line-height: 1.5;
  position: relative;
}
.steps .step-2 ul li::before {
  content: "";
  height: 1.2rem;
  width: 1.2rem;
  position: absolute;
  background-color: var(--pimm);
  border-radius: 50%;
  right: 31.5rem;
  bottom: 5.5rem;
}
.steps .step-3 {
  height: auto;
  margin-bottom: 5rem;
}
.steps .step-3 h4 {
  width: 90%;
  margin: 0 auto;
  font-size: 2rem;
}
.steps .step-3 div {
  position: relative;
  height: 94vh;
  display: flex;
}
.steps .step-3 div figure:nth-child(1) {
  position: absolute;
  z-index: 2;
  left: 7.5%;
  width: 85%;
  top: 12vh;
  opacity: 0;
}
.steps .step-3 div figure:nth-child(1) img {
  width: 100%;
}
.steps .step-3 div figure:nth-child(2) {
  width: 50%;
  height: 65vh;
  position: absolute;
  z-index: 1;
  transform: translate(50%, 25%);
  opacity: 0;
  overflow: hidden;
  box-shadow: 0rem 0rem 4rem 0.5rem #9f9fa0;
}
.steps .step-3 div figure:nth-child(2) img {
  width: 100%;
}
.steps .step-3 div .card.fade-in {
  transition: opacity 0.5s;
  opacity: 1;
}
.steps .step-3 ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.steps .step-3 ul li {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  color: #9f9fa0;
  padding-left: 2rem;
  position: relative;
}
.steps .step-3 ul li::before {
  content: "";
  background-color: var(--pimm);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  position: absolute;
  left: -0.5rem;
  top: 0.8rem;
}

.carousel {
  background-color: #272727;
}
.carousel .carousel-image {
  height: 60vh;
  display: flex;
  background-image: repeating-radial-gradient(circle at top, rgba(78, 78, 78, 0.5) 80%, rgba(35, 32, 32, 0.8) 300%), linear-gradient(90deg, black, black);
}
.carousel .carousel-image img {
  width: 60%;
  align-self: center;
  margin: 0 auto;
}
.carousel article {
  width: 80%;
  height: 55vh;
  margin: 10% auto 0 auto;
  position: relative;
}
.carousel article .dots {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  display: flex;
}
.carousel article .dots div:nth-child(1) {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin-right: 1rem;
  border: 0.1rem solid #11a59a;
}
.carousel article .dots div:nth-child(2) {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin-right: 1rem;
  border: 0.1rem solid #fba737;
}
.carousel article .dots div:nth-child(3) {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin-right: 1rem;
  border: 0.1rem solid #f45526;
}
.carousel article .dots div.active {
  background-color: #fba737;
}
.carousel article .carousel-text {
  list-style: none;
}
.carousel article .carousel-text li {
  opacity: 0;
}
.carousel article .carousel-text li h5 {
  color: white;
  margin-top: 3.5rem;
  font-size: 2rem;
}
.carousel article .carousel-text li p {
  color: #9f9fa0;
  line-height: 1.8;
  font-size: 1.4rem;
  height: 18rem;
  margin: 1.4rem 0;
}
.carousel article .carousel-text li.activeCarousel {
  opacity: 1;
  transform: translateY(0%);
  transition: transform 2s;
  transition: opacity 2s;
}

.quotes .quote-image {
  width: 5rem;
  margin: 5rem auto;
}
.quotes .quote-image img {
  width: 100%;
}
.quotes .quote {
  width: 90%;
  margin: 0 auto;
  list-style: none;
}
.quotes .quote li {
  opacity: 0;
}
.quotes .quote li p {
  color: #9f9fa0;
  text-align: center;
  line-height: 1.7;
  font-size: 1.4rem;
  width: 100%;
}
.quotes .quote li.activeQuote {
  opacity: 1;
  transition: opacity 2s;
}

.authors {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 5rem 0 0 0;
  display: flex;
}
.authors div {
  display: inline-flex;
  width: 70px;
  margin: 10px 0;
  transition: width 0.5s, filter 0.5s;
  filter: grayscale(100%);
}
.authors div img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.authors div span:nth-child(1) {
  display: block;
  align-self: center;
  overflow: hidden;
  padding: 0px;
  width: 0px;
  font-size: 1.4rem;
  color: var(--dynamic-black);
}
.authors div span:nth-child(2) {
  display: block;
  align-self: center;
  overflow: hidden;
  padding: 0px;
  width: 0px;
  font-size: 1.4rem;
  color: var(--chrome-aluminum);
}
.authors div.activeAuthor {
  filter: grayscale(0%);
  width: 20rem;
  transition: width 0.5s, filter 0.5s;
  overflow: visible;
}

footer .footer-template {
  background-color: white;
  background-image: url("https://mini.webtrigon.com/static-v1.1.0/common/images/svg/footer-bg1.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 105%;
  position: relative;
  width: 100%;
  margin: 0 auto;
}
footer .footer-template h3 {
  color: var(--black-oak);
  padding-top: 8rem;
  width: 90%;
  margin: 0 auto;
  font-size: 2.2rem;
}
footer .footer-template p {
  width: 100%;
  color: var(--black-oak);
  font-size: 1.3rem;
  margin: 0 auto;
  padding: 1rem 5%;
  background-color: #f3f3f3;
}
footer .footer-template button {
  padding: 3rem 0 6rem 5%;
  width: 100%;
  margin-top: -1%;
  background-color: #f3f3f3;
  border: none;
}
footer .footer-template button a {
  cursor: pointer;
  color: white;
  background-color: #c45c5d;
  border: 0;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  padding: 1.2rem 2rem;
  text-decoration: none;
  margin-right: 30rem;
}
footer .footer-bottom {
  padding-top: 5rem;
  background-color: #f3f3f3;
  background-image: url("https://mini.webtrigon.com/static-v1.1.0/common/images/svg/footer-bg2.svg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #1e1e1e;
  margin-top: 10%;
  padding-bottom: 5rem;
}
footer .footer-bottom .company {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-bottom .company img {
  width: 7rem;
}
footer .footer-bottom .company h3 {
  color: white;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
}
footer .footer-bottom .footer-links {
  margin: 4rem 0;
}
footer .footer-bottom .footer-links h5 {
  font-size: 1.6rem;
  padding: 1.5rem 0;
  color: white;
  text-align: center;
}
footer .footer-bottom .footer-links nav a {
  font-size: 1.4rem;
  display: block;
  text-decoration: none;
  color: #9f9fa0;
  line-height: 2;
  text-align: center;
}
footer .footer-bottom .important-link {
  margin-bottom: 5rem;
}
footer .footer-bottom .important-link h5 {
  font-size: 1.6rem;
  padding: 1.5rem 0;
  color: white;
  text-align: center;
}
footer .footer-bottom .important-link a {
  font-size: 1.4rem;
  display: block;
  text-decoration: none;
  color: #9f9fa0;
  line-height: 2;
  text-align: center;
}
footer .footer-bottom .subscribe {
  text-align: center;
}
footer .footer-bottom .subscribe .notify {
  font-size: 2.2rem;
  color: white;
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
footer .footer-bottom .subscribe span {
  font-size: 1.5rem;
  color: #9f9fa0;
}
footer .footer-bottom .subscribe .email-subscribe {
  margin: 0 auto;
  position: relative;
  margin-top: 1.5rem;
  background-color: #333333;
  width: 70%;
  height: 4rem;
}
footer .footer-bottom .subscribe .email-subscribe input {
  width: 80%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: #9f9fa0;
  font-size: 1.4rem;
}
footer .footer-bottom .subscribe .email-subscribe button {
  margin-left: auto;
  width: 18%;
  height: 100%;
  border: 0;
  background-color: #f89827;
  position: absolute;
  right: 0;
}

/*# sourceMappingURL=style.css.map */
